{% extends 'wrappers/base.html' %}
{% load static %}
{% block content %}
 <div class="mt-auto header-top-height"></div>
        <main class="container mb-auto">
            <h3 class="mt-3 main-header-text-title"><span> <b>eduPy</b> Dasturlash bo'yicha onlayn o'quv markaz</span>&lt;boshlovchilar/&gt;
              <p class="sub-page-breadcrumb"><a href="#">Bosh sahifa</a> - Boshlash</p>
            </h3>

        </main>
        <div class="mt-auto"></div>
<section class="padding-50-0-10 position-relative pt-5" style="margin-top: 100px;">

        <div class="container pt-5">
            <div class="row justify-content-left box-features-tree-container">
                <div class="col-md-4 box-features-tree">
                    <i class="fas fa-chess-bishop"></i>
                    <h5>Kuchli dasturchi bo'lishni istaysizmi?</h5>
                    <p>Python ni o'rganing. U hozir dunyoda eng mashxur va o'rganish uchun oson tilga aylanib ulgurdi.</p>
                </div>

                <div class="col-md-4 box-features-tree">
                    <i class="far fa-smile-wink"></i>
                    <h5>Yordam berishga tayyormiz</h5>
                    <p>O'qitish usulimiz, dars vaqtida va undan tashqarida talabalarga bo'lgan e'tiborimiz siznni befarq qoldirmaydi.</p>
                </div>

                <div class="col-md-4 box-features-tree">
                    <i class="fas fa-sync-alt"></i>
                    <h5>Takrorlash bu o'sish</h5>
                    <p>Barcha siz o'tgan darslaringizni istalgan vaqtda kirib ko'rishingiz va takrorlashingiz, yuklab olishingiz mumkin.</p>
                </div>
            </div>

        </div>
    </section>
   
 
    <section class="padding-100-0-0 with-top-border">
        <div class="container">
            <h5 class="title-default-coodiv-two">Nimadan boshlash kerak ?</h5>

            <div class="row justify-content-center mr-tp-40">
                <div class="col-md-9">

                    <div class="accordion" id="frequently-questions">

                        <div class="questions-box">
                            <div id="headingOne">
                                <button class="btn questions-title" type="button" data-toggle="collapse" data-target="#questionone" aria-expanded="true" aria-controls="questionone">
                                   Ro'yhatdan o'tish va darslar
                                </button>
                            </div>

                            <div id="questionone" class="collapse show questions-reponse" aria-labelledby="headingOne" data-parent="#frequently-questions">
                                A'zo bo'ling yoki oldindan ochgan profilingizga kiring. Profilingiz orqali yoki KURSLAR bo'limi orqali kerakli kursni tanlang. <br>Kursga yoziling va intensiv tarzda darslarni olib boring. Darslar vaqtlari kurslarga qarab farq qilishi mumkin. Muhimi o'z yo'nalishingizni <b>BEPUL</b> o'rganing.
                             </div>
                        </div>

                        <div class="questions-box">
                            <div id="headingtwo">
                                <button class="btn questions-title collapsed" type="button" data-toggle="collapse" data-target="#questiontwo" aria-expanded="true" aria-controls="questiontwo">
                                    Umumiy savollar.
                                </button>
                            </div>

                            <div id="questiontwo" class="collapse questions-reponse" aria-labelledby="headingtwo" data-parent="#frequently-questions">
                                <ul class="list-unstyled mt-5 mb-5">
                                    <li class="quest text-primary ">Dars vaqtlari , davomiyligi  qanaqa?</li>
                                    <li class="ans pl-5">Kurs turiga qarab farq qiladi, video davomiyligi max 20-30 minut, matn va rasmli kontentlardan istalgancha foydalanish mumkin.</li>
                                    <li class="quest text-primary"> Topshiriqlar va oraliq nazorat ishlari qanday usulda yuritiladi?</li>
                                    <li class="ans pl-5">Uyga vazifani navbatdagi dars boshlanishiga 4 soat qolguncha topshirish kerak. Oraliq nazorat imtihonlaridan o'ta olmaganlar uchun kelasi imtihon 3 kun ichida </li>
                                    <li class="quest text-primary">Nega aynan shunday qilingan?</li>
                                    <li class="ans pl-5">Bu yosh dasturchilarda Dedlayn muhimi ekanini va loyihani o'z vaqtida topshirish kerakligini singdirish uchun qilingan.</li>
                                    <li class="quest text-primary">Ballar nima uchun kerak?</li>
                                    <li class="ans pl-5"> Ballar yig'ish orqali avvalo kursni yaxshi o'zlashtirasiz va bu orqali chegirmalarga ega bo'lasiz. </li>
                                    <li class="quest text-primary">Qachon ball beriladi ?</li>
                                    <li class="ans pl-5">Kurs ichidagi testlarni yechish orqali (10-15 ball) <br>Online tarzda darslarni kuzatish orqali (2 ball har bir dars uchun) <br>Amaliy mashg'ulotni bajarish orqali (10 ball har bir topshiriqga) </li>
                                    <li class="quest text-primary">Vazifani qilmasa bo'ladimi ?</li>
                                    <li class="ans pl-5"> Avvalo o'ziga havola , lekin kurs rahbari sizni topshiriqlaringizni tekshirib kerakli ballarni qo'yishi uchun vazifani topshirish shart! Navbatdagi darsdan kamida 4 soat  oldin.</li>
                                    <li class="quest text-primary">Talabalar chati (Telegram)</li>
                                    <li class="ans pl-5">Kursdoshlaringiz bilan doimiy aloqada bo'ling ,tajriba almashing. Telegram orqali kurs uchun ochilgan chatlarga a'zo bo'ling.</li>
                                    <li class="quest ">Boshqa savol bor...</li>
                                    <li class="ans pl-5">Barcha savollar bilan istalgan aloqa usullaridan foydalansangiz bo'ladi, telefon, email, sayt orqali xabar qoldirish. </li>

                                </ul>
                            </div>
                        </div>

                        <div class="questions-box">
                            <div id="headingtree">
                                <button class="btn questions-title collapsed" type="button" data-toggle="collapse" data-target="#questiontree" aria-expanded="true" aria-controls="questiontree">
                                    Forum va Chat qoidalari
                                </button>
                            </div>

                            <div id="questiontree" class="collapse questions-reponse" aria-labelledby="headingtree" data-parent="#frequently-questions">
                                Forum va Chatlarda faqat darsga oid savollar, muloqot mavzusi qatiiyan texnik bo'lishi shart! <br>Haqoratlar , mavzudan tashqari gaplar cheklanadi. Portal qoidalariga amal qilamagan talabalarni Administartorlar chetlatish huquqiga ega , jumladan Forum va Chatlarda ham.<br> Portal ma'lumotlari uning yuklovchilarining mulki hiosblanadi ularni o'g'irlash va noodatiy foydalanish qonun bilan taqib qilinadi! Qoidalar bilan Qoidalar bo'limida batafsil tanishing.
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </section>
<div class="mb-5"></div>
   <section class="footer-section-banner">
        <div class="container">
            <div class="row free-trial-footer-banner">
                <div class="col-md-8">
                    <h5 class="free-trial-footer-banner-title">Bepul sinov kurslarini boshlash uchun hoziroq ro'yhatdan o'ting</h5>
                    <p class="free-trial-footer-banner-text">Chegirmalar vaqti chegaralangan. Dasturlashni o'rganmoqchimisiz? Unda hoziroq ro'yhatdan o'ting. </p>
                </div>

                <div class="col-md-4 free-trial-footer-links d-flex mx-auto flex-column">
                    <div class="mb-auto"></div>
                    <div class="mb-auto">
                        <a class="sign-btn" href="{% url 'edu:page_views' 'signup' %}">Ro'yhatdan o'tish</a>
                        <a class="log-btn" href="{% url 'edu:page_views' 'signin' %}">Kirish</a>
                    </div>
                    <div class="mt-auto"></div>
                </div>
            </div>
        </div>
    </section>

  {% endblock %}