<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Bredh flat responsive HTML & WHMCS hosting and domains template">
    <meta name="author" content="coodiv.net (nedjai mohamed)">
    <link rel="icon" href="favicon.ico">
    <title>eduPy| A'zo bo'lish</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- main css file -->
    <link href="/static/css/main.min.css" rel="stylesheet">

</head>

<body>
    <!-- start body -->

    <div class="preloader">
        <!-- start preloader -->
        <div class="preloader-container">
            <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                <circle fill="#675cda" stroke="none" cx="6" cy="50" r="6">
                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15" repeatCount="indefinite" begin="0.1" />
                </circle>
                <circle fill="#675cda" stroke="none" cx="30" cy="50" r="6">
                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10" repeatCount="indefinite" begin="0.2" />
                </circle>
                <circle fill="#675cda" stroke="none" cx="54" cy="50" r="6">
                    <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5" repeatCount="indefinite" begin="0.3" />
                </circle>
            </svg>
            <span>loading</span>
        </div>
    </div>
    <!-- end preloader -->

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="card">
                <div class="card-body text-center">
                    <a class="auth-content-logo-header" href="{% url 'edu:index'%}"><img src="/static/img/header/logo-w-f.png" alt=""></a>
                           {% if messages %}
                        {% for message in messages %}
                            <h5 class="bg-info" style="color:red; border-radius:6px;"><span>{{ message }}</span></h5>
                        {% endfor %}
                        {% else %}
                    <h3 class="mb-4 auth-login-title">Shaxsiy akkaunt ochish<span>Email va parolni kiriting. <br> <b>Parol 8 ta belgidan kam bo'lmasligi kerak va lotin harflari bilan kamida 1 ta raqam qatnashishi kerak!</b> </span></h3>
             
                    {% endif %}
                    <form action="#" method="POST">
                    <div class="input-group mb-3">
                        <input type="email" name="email" class="form-control" placeholder="Email adresingiz">
                    </div>
                    {% csrf_token %}
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" name="password" placeholder="parol">
                    </div>
                    <div class="input-group mb-4">
                        <input type="password" class="form-control" name="copy_password" placeholder="parol takroran">
                    </div>

                    <button type="submit" class="btn btn-login-auth shadow-2 mb-4">A'zo bo'lish</button>
                    </form>
                    <p class="mb-0 text-white-muted">Shaxsiy akkauntizngiz bormi? <a href="{% url 'edu:page_views' 'signin' %}">Kirish</a></p>
                </div>
            </div>
        </div>
    </div>

    <!-- jquery -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <!-- bootstrap JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
    <!-- template JavaScript -->
    <script src="/static/js/template-scripts.js"></script>
    <!-- flickity JavaScript -->
    <script src="/static/js/flickity.pkgd.min.js"></script>
    <!-- carousel JavaScript -->
    <script src="/static/owlcarousel/owl.carousel.min.js"></script>
    <!-- parallax JavaScript -->
    <script src="/static/js/parallax.min.js"></script>
    <!-- mailchamp JavaScript -->
    <script src="/static/js/mailchamp.js"></script>
    <!-- bootstrap offcanvas -->
    <script src="/static/js/bootstrap.offcanvas.min.js"></script>
    <!-- touchSwipe JavaScript -->
    <script src="/static/js/jquery.touchSwipe.min.js"></script>
</body>

</html>