{% extends 'wrappers/base.html' %}
{% load static %}
{% block content %}



<div class="mt-auto header-top-height"></div>
        <main class="container mb-auto">
            <h3 class="mt-3 main-header-text-title"><span> <b>eduPy</b> Dasturlash bo'yicha onlayn o'quv markaz</span>&lt;$php?&gt;
              <p class="sub-page-breadcrumb"><a href="#">Bosh sahifa</a> - Kurslar</p>
            </h3>

        </main>
        <div class="mt-auto"></div>
    
    <section class="padding-100-0-50 position-relative">
        <div class="container pt-5 pb-5">
                 <div class="row justify-content-between mr-tp-50">
                <div class="col-md-6">
                    <p>
                          <img src="/static/svg/php-sql-coder.png" class="mb-5 w-100 h-50" alt="">
                        <a class="side-text-right-button" href="{% url 'edu:courses' %}">Kursga yozilish</a>
                    </p>
                  
                  
                </div>
                <div class="col-md-6 side-text-right-container">
                    <h2 class="side-text-right-title">PHP  tili kursi   <span class="badge badge-pill">BEPUL</span></h2>
                    <p class="side-text-right-text">
                        Agar siz PHPbilan tanishishni boshlayotgan bo’lsangiz, u holda siz ushbu ta’riflarni bilishingiz kerak.Xo’sh, PHP nima?
                        PHP — keng tarqalgan umumiy maqsadli dasturlash tilidir.
                        Qisqacha aytganda, PHP veb-serverda ishlaydigan veb-ilovalarni (skriptlarni) yozish uchun maxsus mo’ljallangan dasturlash tili hisoblanadi.
                        PHP «Hypertext Preprocessor» degan ma’noni anglatadi. Tilning sintaksisi C, Java va PerlPhysics’dan kelib chiqadi. PHPning afzalligi veb-ishlab chiquvchilar tezda dinamik ravishda yaratilgan veb-sahifalarni yaratish qobiliyatidir PHPni <b>BIZNING BUTUNLAY BEPUL</b> kurslarimizda o'rganing.
                      </p>
                        <br>
                        <br>   
                         <ul class="web-hosting-options">
                            <li><i class="fa fa-book"></i> Kengaytirilgan adabiyotlar</li>
                            <li><i class="fa fa-film"></i> Videogayd , Matn va Screenshotlar bilan </li>
                            <li><i class="fa fa-tasks"></i> Doimiy topshiriqlar. Har yangi mavzudan so'ng </li>
                            
                            <li><i class="fab fa-telegram"></i> Telegram orqali tushunmagan joyingizni so'rang! </li>
                            <li><i class="fa fa-users"></i> Boshqa talabalar bilan tajriba almashish </li>
                    </ul>
                        <p>
                        
                </div>

              

            </div><!-- end row -->
            <div class="row mt-5 mb-5"> 

                <div class="container">
                    <h4 class=" side-text-right-title">Qo'shimcha:</h4>
                </div>
                <div class="col-md-6">
                     <div class="container">
                        <ul class="web-hosting-options">
                            <li><i class="fa fa-clock"></i> Intensiv (doimiy) kurs</li>
                            <li><i class="fa fa-user"></i> Doimiy guruh rahbari bilan aloqa </li>
                            <li><i class="fa fa-tasks"></i> Doimiy topshiriqlar. Har yangi mavzudan so'ng </li>
                            
                            <li><i class="fab fa-telegram"></i> Telegram orqali guruhdoshlar bilan aloqa </li>
                            <li><i class="fa fa-handshake"></i> Shaxsiy loyihalar tuzish</li>
                            <li><i class="fa fa-graduation-cap"></i> Yaxshi o'zlashtirgan talabalarni ish bilan ta'minlash</li>
                            <li><i class="fa fa-mouse-pointer"></i> Shaxsiy loyihalarga ko'maklashish</li>
                    </ul>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <p class="side-text-right-text"> PHPning Perl va S kabi tillar oldida muhim ustunligi PHP buyruqlari bilan HTML-hujjatlarni yaratish qobiliyatidir
                        PHP-ga mijozlar tomonida, masalan, jаvаsсriрt-da ishlaydigan har qanday koddan PHP uchun muhim farq PHP skriptlari server tomonidan amalga oshiriladi.Hatto serveringizni HTML fayllari PHP protsessori tomonidan qayta ishlangan tarzda sozlashingiz mumkin, bunda mijozlar normal HTML fayli yoki skriptni ishga tushirish natijasi haqida ma’lumotga ega bo’lmaydilar. Ofitsial ma'lumotlarni 
                          <a href="https://ru.wikipedia.org/wiki/PHP" target="_blank">Wikipediyadan</a> oling.
                        </p>
                      <p>
                          <a class="side-text-right-button" href="{% url 'edu:courses' %}">Kursga yozilish</a>
                      </p>
                    </div>
                </div>
               
            </div>
                <div class="row mt-5 mb-5 "> 

                <div class="container">
                    <h3 class=" side-text-right-title">PHP haqida yana biroz...</h3>
                </div>
                <div class="col-md-8 ">
                     <div class="container">
                        <p class="side-text-right-text">
                            <h5 class="h4">PHP-ning afzalliklari.</h5>                        
                            PHP sizni juda qisqa vaqt ichida yuqori sifatli veb-ilovalarni yaratishga, kelgusida osonlik bilan o’zgartiriladigan va qo’llab-quvvatlanadigan mahsulotlarni yaratishga imkon beradi.
                            PHP o’rganish oson va ayni paytda professional dasturchilar talablarini qondira oladi.
                            PHP haqida birinchi eshitgan bo’lsangiz ham, ushbu tilni o’rganish siz uchun qiyin bo’lmaydi.Shubha yo’qki, PHP asoslarini bir necha soat ichida o’rganganingizdan so’ng siz oddiy PHP skriptlarini yaratishingiz mumkin.
                            PHP tili doimiy ravishda takomillashib boradi va, albatta, yaqin kelajakda veb-dasturlash tillari sohasida uzoq vaqt hukmronlik qiladi.<br>
                            Manba: <a href="https://biliboltv.uz/2019/04/22/php-dasturlash-tili-haqida-malumot/" title="">biliboltv</a>
                        </p>
                    </div>
                     <div class="container">
                        <p> <a class="side-text-right-button" href="{% url 'edu:courses' %}">Kursga yozilish</a></p>
                    </div>
                </div>
                <div class="col-md-4 css-info-area" >
                    <img src="/static/svg/php.svg" class="img-responsive w-75 h-75" >
                </div>
            </div>

        </div>
    </section>
<section class="footer-section-banner">
        <div class="container">
            <div class="row free-trial-footer-banner">
                <div class="col-md-8">
                    <h5 class="free-trial-footer-banner-title">Bepul sinov kurslarini boshlash uchun hoziroq ro'yhatdan o'ting</h5>
                    <p class="free-trial-footer-banner-text">Chegirmalar vaqti chegaralangan. Dasturlashni o'rganmoqchimisiz? Unda hoziroq ro'yhatdan o'ting. </p>
                </div>

                <div class="col-md-4 free-trial-footer-links d-flex mx-auto flex-column">
                    <div class="mb-auto"></div>
                    <div class="mb-auto">
                        <a class="sign-btn" href="{% url 'edu:signup' %}">Ro'yhatdan o'tish</a>
                        <a class="log-btn" href="{% url 'edu:signin' %}">Kirish</a>
                    </div>
                    <div class="mt-auto"></div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}