{% extends 'wrappers/base.html' %}
{% load static %}
{% block content %}



<div class="mt-auto header-top-height"></div>
        <main class="container mb-auto">
            <h3 class="mt-3 main-header-text-title"><span> <b>eduPy</b> Dasturlash bo'yicha onlayn o'quv markaz</span>&lt;python/&gt;
              <p class="sub-page-breadcrumb"><a href="#">Bosh sahifa</a> - Kurslar</p>
            </h3>

        </main>
        <div class="mt-auto"></div>
    
    <section class="padding-100-0-50 position-relative">
        <div class="container pt-5 pb-5">
                 <div class="row justify-content-between mr-tp-50">
                <div class="col-md-6">
                    <p>
                          <img src="/static/svg/python-coder.png" class="mb-5 w-100 h-50" alt="">
                       
                    </p>
                  <p>
                          <a class="side-text-right-button" href="#">Kursga yozilish</a>
                      </p>
                  
                </div>
                <div class="col-md-6 side-text-right-container">
                    <h2 class="side-text-right-title">Python dasturchi kursi   <span class="badge badge-pill">BEPUL</span></h2>
                    <p class="side-text-right-text">
                      Python va uni kutubxonalarini intensiv tarzda mukammal o'rganing. Kurs sizga <b>YouTube</b> dagi qisqa va tushunarsiz videodarslardan farqli o'laroq atroflicha bilimlar beradi.<br>Agar siz boshqa kursda bir mavzuga oid 1 sahifa ma'lumot olsangiz bizning kursda 5 sahifa ma'lumot topa olasiz. Ishonmaysizmi? Sinab ko'ring.
                       <b>KURS MUTLAQO BEPUL</b> 
                  </p>
                        <br>
                        <br>   
                         <ul class="web-hosting-options">
                            <li><i class="fa fa-book"></i> Kengaytirilgan adabiyotlar: Michael Dawson, Mark Luts</li>
                            <li><i class="fa fa-film"></i> Videogayd , Matn va Screenshotlar bilan </li>
                            <li><i class="fa fa-tasks"></i> Doimiy topshiriqlar. Har yangi mavzudan so'ng </li>
                            
                            <li><i class="fab fa-telegram"></i> Telegram orqali tushunmagan joyingizni so'rang! </li>
                            <li><i class="fa fa-users"></i> Boshqa talabalar bilan tajriba almashish </li>
                    </ul>
                        <p>
                        
                </div>

              

            </div><!-- end row -->
            <div class="row mt-5 mb-5"> 

                <div class="container">
                    <h4 class=" side-text-right-title">Qo'shimcha:</h4>
                </div>
                <div class="col-md-6">
                     <div class="container">
                        <ul class="web-hosting-options">
                            <li><i class="fa fa-clock"></i> Intensiv (doimiy)  kurs</li>
                            <li><i class="fa fa-user"></i> Doimiy guruh rahbari bilan aloqa </li>
                            <li><i class="fa fa-tasks"></i> Doimiy topshiriqlar. Har yangi mavzudan so'ng </li>
                            
                            <li><i class="fab fa-telegram"></i> Telegram orqali guruhdoshlar bilan aloqa </li>
                            <li><i class="fa fa-handshake"></i> Shaxsiy loyihalar tuzish</li>
                            <li><i class="fa fa-graduation-cap"></i> Yaxshi o'zlashtirgan talabalarni ish bilan ta'minlash</li>
                            <li><i class="fa fa-mouse-pointer"></i> Shaxsiy loyihalarga ko'maklashish</li>
                    </ul>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <p class="side-text-right-text">
                            Python tilini hozirgi kunda maqtashni keragi qolmadi. Sababi u butun dunyo bo'ylab ke'ng ko'lamda tarqalib dasturchilar orasida mavqeyi kundan kunga ortib bormoqda. Uning inson tiliga (Ingliz tiliga) yaqin ekani soddaligi va kuchli, aniq, lo'nda tushunarli ekani. Ayniqsa juda katta kutubxona bazasiga va bu baza kundan kunga kengayib borishi uning har qanday dasturlash tiliga qarshi raqobatida , arsenaldagi og'ir artireliyalaridan biridir. Ko'proq ma'lumotni <a href="https://ru.wikipedia.org/wiki/Python#Ishlatilishi" target="_blank">Wikipediyadan</a> oling.
                        </p>
                      <p>
                          <a class="side-text-right-button" href="#">Kursga yozilish</a>
                      </p>
                    </div>
                </div>
               
            </div>

                   <div class="row mt-5 mb-5"> 

                <div class="container">
                    <h4 class=" side-text-right-title">Python-Django</h4>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <p class="side-text-right-text">
                            Python tilini hozirgi kunda maqtashni keragi qolmadi. Sababi u butun dunyo bo'ylab ke'ng ko'lamda tarqalib dasturchilar orasida mavqeyi kundan kunga ortib bormoqda. Uning inson tiliga (Ingliz tiliga) yaqin ekani soddaligi va kuchli, aniq, lo'nda tushunarli ekani. Ayniqsa juda katta kutubxona bazasiga va bu baza kundan kunga kengayib borishi uning har qanday dasturlash tiliga qarshi raqobatida , arsenaldagi og'ir artireliyalaridan biridir. Ko'proq ma'lumotni <a href="https://ru.wikipedia.org/wiki/Python#Ishlatilishi" target="_blank">Wikipediyadan</a> oling.
                        </p>
                      <p>
                          <a class="side-text-right-button" href="#">Kursga yozilish</a>
                      </p>
                    </div>
                    
                </div>
                <div class="col-md-6">
                     <div class="container">
                        <p>
                          <img src="/static/svg/python_django.png" class="mb-5 w-75 h-50" alt="">           
                        </p>
                    </div>
                </div>
               
            </div>
                   <div class="row mt-5 mb-5"> 

               
                <div class="col-md-6">
                     <div class="container">
                        <p>
                          <img src="/static/svg/pyqt.png" class="mb-5 w-75 h-50" alt="">           
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                     <div class="container">
                    <h4 class=" side-text-right-title">PyQt5</h4>
                </div>
                    <div class="container">
                        <p class="side-text-right-text">
                            Python tilini hozirgi kunda maqtashni keragi qolmadi. Sababi u butun dunyo bo'ylab ke'ng ko'lamda tarqalib dasturchilar orasida mavqeyi kundan kunga ortib bormoqda. Uning inson tiliga (Ingliz tiliga) yaqin ekani soddaligi va kuchli, aniq, lo'nda tushunarli ekani. Ayniqsa juda katta kutubxona bazasiga va bu baza kundan kunga kengayib borishi uning har qanday dasturlash tiliga qarshi raqobatida , arsenaldagi og'ir artireliyalaridan biridir. Ko'proq ma'lumotni <a href="https://ru.wikipedia.org/wiki/Python#Ishlatilishi" target="_blank">Wikipediyadan</a> oling.
                        </p>
                      <p>
                          <a class="side-text-right-button" href="#">Kursga yozilish</a>
                      </p>
                    </div>
                </div>
               
            </div>

            <div class="row mt-5 mb-5 "> 

                <div class="container">
                    <h3 class=" side-text-right-title">Nima uchun aynan Python ?</h3>
                </div>
                <div class="col-md-10 python-info-area">
                    <div class="container">
                        <p class="side-text-right-text">
                            <h5 class="h4">Dasturiy ta’minot sifati:</h5>                        
                            Ko’pchilik uchun Python o’qish, o’qitish, muvofiqlik va umuman dastur sifatiga e’tiborni skript olamidagi boshqa vositalardan ajratib turadi. Python kodi an’anaviy ssenariy tillariga qaraganda ko’proq o’qiladigan va shuning uchun qayta ishlatiladigan va xizmat qiladigan qilib yaratilgan. Python kodining bir xilligi, agar siz uni yozmagan bo’lsangiz ham, tushunishni osonlashtiradi. Bunga qo’shimcha ravishda, Python ob’ektga yo’naltirilgan (OO) va funktsional dasturlash kabi dasturiy ta’minotni qayta ishlatish mexanizmlarini chuqur qo’llab-quvvatlaydi.
                        </p>
                    </div>
                     <div class="container">
                        <p class="side-text-right-text">
                            <h5 class="h4">Tuzuvchi (Developer) samaradorligi:</h5>                        
                            Python C, C ++ va Java kabi kompilyatsiya qilingan yoki statik yozilgan tillardan tashqari ishlab chiqaruvchilar samaradorligini ko’p marta oshiradi. Python kodi, odatda C ++ yoki Java kodining kattaligidan uchdan uchdan beshgacha. Bu shuni anglatadiki, terishdan kamroq, disk raskadrovka qilish va faktdan keyin saqlash uchun kamroq narsa bor. Python dasturlari ham darhol ishlaydi, ba’zi boshqa vositalar tomonidan talab qilinadigan uzoq kompilyatsiya va bog’lanish bosqichlarini talab qilmasdan, dasturchi tezligini yanada oshiradi.
                        </p>
                    </div>
                     <div class="container">
                        <p class="side-text-right-text">
                            <h5 class="h4">Dastur portativligi:</h5>                        
                            Ko’pgina Python dasturlari barcha asosiy kompyuter platformalarida o’zgarishsiz ishlaydi. Masalan, Linux va Windows o’rtasida Python kodini yuborish odatda skript kodini mashinalar o’rtasida nusxalash bilan amalga oshiriladi. Bundan tashqari, Python foydalanuvchi interfeysi, ma’lumotlar bazasiga kirish dasturlari, web-bazali tizimlar va boshqalarni kodlash uchun bir nechta variantlarni taklif etadi.
                        </p>
                    </div>
                     <div class="container">
                        <p class="side-text-right-text">
                            <h5 class="h4">Kutubxonalarni qo’llab quvvatlashi:</h5>                        
                            Python standart kutubxona deb nomlanuvchi oldindan qurilgan va ko’chma funksiyalarning katta to’plamini taqdim etadi. Ushbu kutubxona matn sxemasini moslashtirishdan tarmoq skriptlariga qadar dastur darajasidagi dasturiy vazifalarni qo’llab-quvvatlaydi. Bunga qo’shimcha ravishda, Pythonni uy sharoitidagi kutubxonalar va keng to’plam bilan kengaytirish mumkin. Pythonning uchinchi tomon domeni web-saytlarni qurish, raqamli dasturlash, portlarga ketma-ket kirish, o’yinlarni ishlab chiqish va boshqa ko’plab vositalarni taklif qiladi. Masalan, NumPy kengaytmasi Matlab raqamli dasturlash tizimiga erkin va kuchli ekvivalenti sifatida ta’riflangan.
                        </p>
                    </div>
                     <div class="container">
                        <p class="side-text-right-text">
                            <h5 class="h4">Zavqlanish:</h5>                        
                            Pythondan foydalanish qulayligi va o’rnatilgan asboblar to’plami tufayli, u dasturlash harakatlaridan ko’proq zavq keltirishi mumkin. Bu nomoddiy foyda bo’lishi mumkin bo’lsa-da, uning mahsuldorlikka ta’siri muhim ahamiyatga ega.
                        </p>
                        <p>Manba: <a href="http://pythonuz.zn.uz/2019/10/09/nima-uchun-dasturchilar-pythondan-foydalanadi/">pythonuz.zn.uz</a></p>
                        <p> <a class="side-text-right-button" href="#">Kursga yozilish</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
<section class="footer-section-banner">
        <div class="container">
            <div class="row free-trial-footer-banner">
                <div class="col-md-8">
                    <h5 class="free-trial-footer-banner-title">Bepul sinov kurslarini boshlash uchun hoziroq ro'yhatdan o'ting</h5>
                    <p class="free-trial-footer-banner-text">Chegirmalar vaqti chegaralangan. Dasturlashni o'rganmoqchimisiz? Unda hoziroq ro'yhatdan o'ting. </p>
                </div>

                <div class="col-md-4 free-trial-footer-links d-flex mx-auto flex-column">
                    <div class="mb-auto"></div>
                    <div class="mb-auto">
                        <a class="sign-btn" href="{% url 'edu:page_views'  'signup' %}">Ro'yhatdan o'tish</a>
                        <a class="log-btn" href="{% url 'edu:page_views' 'signin' %}">Kirish</a>
                    </div>
                    <div class="mt-auto"></div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}