{% extends 'base-wrap.html' %}
{% load static %}
{% block content %}
<section id="lesson">
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="text-center">
				<h3><strong>Djangoda birinchi web dastur</strong></h3>
			</div>
		<br>
				<p>Keling, amaliy mashg'ulotni boshlaylik.</p>

<p>Ushbu darsda  ovoz berish dasturini yaratish haqida gapiramiz.</p>

<p>U ikki qismdan iborat bo'ladi:</p>

    Foydalanuvchilar so'rovlarni ko'rib chiqishga va ularga ovoz berishga imkon beruvchi ommaviy sayt.
    So'rovlarni qo'shish, o'zgartirish va o'chirish imkonini beruvchi administrator sayti.

<p>Django-ni <a href="#">allaqachon o'rnatgansiz</a> deb taxmin qilamiz. Djangoning qaysi versiyani o'rnatilganini buyruq satrida(terminal ,bash console) quyidagi buyruqni bajarish orqali bilib olishingiz mumkin ($prefiksi ko'rsatiladi):</p>
<pre>
	$ python -m django --version
</pre>


</div>
<div class="col-md-3">
	<ul>
		<li></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>				
</div>				
</div>
</section>
<style>
	#lesson{
		margin-top:150px;
		margin-bottom:100px;
	}
	#sublime{
		background-color:black;
		color:white;
	}
</style>
{% endblock %}				